body {
    font-family: Arial;
    text-align: center;
    background: lightgray;
}

p {
    color: black;
}

a {
    color: red;
}

nav li {
    display: inline;
    margin: 10px;
}

h1 {
    color: blue;
}

p {
    color: black;
}

a {
    color: red;
}

nav li {
    display: inline;
    margin: 10px;
}